<h1>THE FAMOUS (INFAMOUS) HOGWARTS HOUSES</h1>

<% @houses.each do |house| %>
  <h3><%= house.name%></h3>
  <p><img src="<%=house.logo%>" alt="<%= house.name%>"></p>
  <h4><a href="/house/<%=house.id%>">House Info</a></h4>
  <hr  />
<% end %>

<h3><a href="/home">Home</a></h3>