<h1><strong>WELCOME TO HOGWARTS!</strong></h1>


<h2><a href="/students">Check out our Students</a></h2>

<h2><a href="/houses">Find out more about our famous Houses</a></h2>

<p><img src="http://cdn.pophangover.com/images/funny-harry-potter-13.jpg" alt="Harry"></p>


