html {
  background-image: url("http://wallpaper-gallery.net/images/harry-potter-wallpaper-tumblr/harry-potter-wallpaper-tumblr-21.jpg");
  background-size: cover;
  font-family: 'Cormorant SC', serif;
  text-align: center;
}



